server:
  port: 8761
  error:
    include-binding-errors: always
    include-message: always

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka

spring:
  application:
    name: eureka



