server:
  port: 8001
spring:
  application:
    name: admin
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/som # basic
    username: root
    password: sb813792!! # 1234
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MariaDBDialect
    generate-ddl: true
    hibernate:
      ddl-auto: create #create
    show-sql: true
  mail:
    host: smtp.naver.com
    port: 465
    username: 
    password: 
    properties:
      mail.smtp.auth: true
      mail.smtp.ssl.enable: true
      mail.smtp.ssl.trust: smtp.naver.com

  redis:
    host: localhost
    port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka
    enabled: true
  instance:
    instance-id: ${spring.application.name}:${random.value}

jwt:
  expiration: 30
  secretKey: mysecret


logging:
  level:
    root: info
