server:
  port: 8001
spring:
  application:
    name: admin
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://som_db/som?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: 1234 # 1234
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MariaDBDialect
    generate-ddl: true
    hibernate:
      ddl-auto: update #create
    show-sql: true
  mail:
    host: smtp.naver.com
    port: 465
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.ssl.enable: true
      mail.smtp.ssl.trust: smtp.naver.com

  redis:
    host: http://redis_boot
    port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://eureka-service:8761/eureka
    enabled: true
  instance:
    instance-id: ${spring.application.name}:${random.value}

jwt:
  expiration: 30
  secretKey: mysecret


logging:
  level:
    root: info
