server:
  port: 8003
url: www.greatjang.shop

spring:
  application:
    name: batch
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DB_HOST}:3306/som
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MariaDBDialect
    generate-ddl: true
    hibernate:
      ddl-auto: create #update
    show-sql: true
  batch:
    jdbc:
      initialize-schema: ALWAYS
  redis:
    host: ${REDIS_HOST}
    port: 6379
